
/* ------ GENERALES ------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	text-decoration: none;
}

nav li{
	list-style-type: none;
	display: inline-block;
}

/* ------ GLOBAL ------ */

html, body {
	height: 100%;
}

section{
	min-height: 100%;	
}

.wrapper{
	padding-bottom: 130px;
}

.clear{
	clear: both;
}

.clearfix{
	clear: both;
	overflow: hidden;
}

.spacer{
	clear: both;
	height: 40px;
}

.ib{
	display: inline-block;
}

.ab{
	position: absolute;
}

.caps{
	text-transform: uppercase;
}

.left{
	float: left;
}

.right{
	float: right;
}

.hidden{
	visibility: hidden;
}

.trans{
	opacity: 0;
}

.break{
	width: 100%;
	height: 0;
	margin: 0;
}

.wf{
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
}

.ns{
	-webkit-user-select: none;
	-moz-user-select: none;
  	user-select: none;
}

.just{
	text-align: justify;
}

.just::after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.anim150{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.anim250{
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/* ------ GLOBAL DEMOS HEADER ------ */

header{
	height: 68px;
	width: 100%;
	top: 0;
	left: 0;
	background: #85011F;
}

header .wrapper{
	padding: 0 20px !important;
	text-align: justify;
}

header h1{
	margin-top: 16px;
	vertical-align: top;
	cursor: pointer;
	
	color: #fff;
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
}

header h1 strong{
	font-weight: 700;
}

@media (max-width: 700px){
	header h1.ib{
		display: none;
	}
}

@media (max-width: 500px){
	header .wrapper{
		padding: 0 15px !important;
	}
}

header #Logo{
	height: 30px;
	margin-top: 17px;
	text-align: justify;
}

header #Logo ul{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	list-style-type: none;
	
	font-size: 8px;
	line-height: 8px;
	letter-spacing: -2px;
}

header #Logo li{
	background-image: url(../img/logo.jpg);
}

header #Logo li{
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 0 3px 0;
	background: #3c9ada;
	vertical-align: top;
}

header #Logo li:nth-of-type(2){
	background: #5558ce;
}

header #Logo li:nth-of-type(3){
	background: #9247cb;	
}

header #Logo li:nth-of-type(4){
	background: #e0339c;	
}

header #Logo li:nth-of-type(5){
	background: #f63b47;	
}

header #Logo li:nth-of-type(6){
	background: #fc672b;	
}

header #Logo li:nth-of-type(7){
	background: #f8ca31;	
}

header #Logo li:nth-of-type(8){
	background: #b0de33;	
}

header #Logo li:nth-of-type(9){
	background: #37c73d;	
}

header .button{
	background: #1db542;
	height: 32px;
	padding: 0 16px;
	margin-top: 16px;
	cursor: pointer;
	border-top: 1px solid rgba(255,255,255,.4);
	vertical-align: top;
	
	font-family: 'Open Sans';
	font-size: 14px;
	color: #fff !important;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	text-transform: uppercase;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

header .button:hover{
	background: #37c73d;
	border-top: 1px solid #000;

	text-shadow: none;

	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
	-ms-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
	-o-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
	box-shadow: inset 0 0 8px rgba(0,0,0,.4);
}

/* ------ DEMO #2. NATIONAL Obras ------ */

body{
	background: #f9f6f0;
	font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px 130px;
}

#Obras{
	margin-bottom: 30px;
}

/* IMAGES */

.img_wrapper{
	position: relative;
	background: #f0ebe5;
	overflow: hidden;
}

.img_wrapper img{
	position: absolute;
	width: 100%;
	height: auto;
	opacity: 0;
	top: 0;
	
	-webkit-transition: opacity 150ms;
	-moz-transition: opacity 150ms;
	-ms-transition: opacity 150ms;
	transition: opacity 150ms;
}

.img_wrapper.loaded img{
	opacity: 1;
}

/* CONTROLS STYLES */

.controls{
	height: 100px;
	line-height: 100px;
}

.group{
	display: inline-block;
}

.button,
.drop_down{
	display: inline-block;
	width: 130px;
	height: 31px;
	line-height: 30px;
	padding: 0 8px;
	background: #c3bdb8;
	vertical-align: middle;
	margin-right: 10px;
	color: #f9f6f0;
	text-transform: uppercase;
	cursor: pointer;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.drop_down{
	width: 170px;
	margin: 0 0 0 20px;
	background: none;
	color: #c3bdb8;
	padding: 0;
	position: relative;
	letter-spacing: 2px;
	z-index: 999;
}

.drop_down span{
	position: relative;
	padding-right: 20px;
	color: #000000;
}

.drop_down span::after,
.drop_down span::before{
	position: absolute;
	top: 8px;
	right: 3px;
	display: block;
	content: '';
	border: 6px solid transparent;
	border-top: 7px solid #266F00;
}

.drop_down span::before{
	top: 6px;
	border-top-color: #f9f6f0;
	z-index: 10;
}

.drop_down:hover span::after{
	border-top-color: #FF0000;
}

.drop_down ul{
	position: absolute;
	opacity: 0;
	max-height: 0;
	right: -3px;
	background: #fff;
	padding: 10px;
	min-width: 120px;
	text-align: right;
	overflow: scroll;
	
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.drop_down:hover ul{
	opacity: 1;
	max-height: 300px;
}

.drop_down:hover span{
	color: #333;
}

.drop_down li{
	display: block;
	text-transform: none;
	color: #808080;
	font-weight: 300;
	line-height: 1;
	letter-spacing: 0;
	margin-bottom: 10px;
	
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-ms-transition: all 150ms;
	transition: all 150ms;
}

.drop_down li:after{
	content: '';
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 1px;
	margin-left: 6px;
	border: 1px solid #ccc;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.drop_down li:last-of-type{
	margin: 0;
}

.drop_down li:hover{
	color: #59514c;
}

.drop_down li.active{
	color: #000000;
	font-weight: 400;
}

.drop_down li.active:after{
	background: #D60017;
	border-color: #D60017;
}

.button.active{
	background: #D60017;
}

.button i{
	position: relative;
	display: inline-block;
	background: #f9f6f0;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	top: 3px;
}

.button i:before,
.button i:after{
	content: '';
	position: absolute;
	display: block;
	background: #c3bdb8;
}

#ToGrid i:before,
#ToGrid i:after{
	width: 100%;
	height: 3px;
	top: 7px;
}

#ToGrid i:after{
	width: 3px;
	height: 100%;
	top: 0;
	left: 7px;
}

#ToList i:before,
#ToList i:after{
	width: 100%;
	height: 4px;
	top: 3px;
}

#ToList i:after{
	top: 10px;
}

.button.active i:before,
.button.active i:after{
	background: #e96d51;
}

/* FAIL ELEMENT */

#Obras{
	position: relative;
}

.fail_element{
	position: absolute;
	opacity: 0;
	top: 100px;
	text-align: center;
	width: 50%;
	left: 25%;
	line-height: 1.4;
	font-size: 30px;
	font-weight: 300;
}

.fail .fail_element{
	opacity: 1;
}

/* LIST VIEW STYLES */

#Obras.list .list_header{
	height: 38px;
	line-height: 38px;
	background: #f0ebe5;
	text-align: right;
	color: #59514c;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#Obras.list .meta{
	display: inline-block;
	width: 205px;
	text-align: center;
	line-height: 99px;
	border-left: 1px solid #d7d7d7;
	height: 100%;
	vertical-align: top;
}

#Obras.list .list_header .meta{
	line-height: 38px;
	border: 0 none;

}

#Obras.list .meta.name{
	float: left;
	text-align: left;
	width: auto;
	border-left: 0 none;
}

#Obras.list .list_header .meta.name{
	padding-left: 15px;
}

#Obras.list .list_header .meta span{
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 7px 0 0;
	cursor: pointer;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#Obras.list .list_header .meta span:after{
	content: '';
	position: absolute;
	top: 9px;
	left: 7px;
	border: 5px solid transparent;
	
}

#Obras.list .list_header .meta span.asc:after{
	border-top: 7px solid #c3bdb8;
}

#Obras.list .list_header .meta span.desc:after{
	top: 4px;
	border-bottom: 7px solid #c3bdb8;
}

#Obras.list .list_header .meta span:hover{
	background: #c3bdb8;
}

#Obras.list .list_header .meta span.asc:hover:after{
	border-top-color: #f0ebe5;
}

#Obras.list .list_header .meta span.desc:hover:after{
	border-bottom-color: #f0ebe5;
}

#Obras.list .list_header .meta span.active.asc:after{
	border-top-color: #e96d51;
}

#Obras.list .list_header .meta span.active.desc:after{
	border-bottom-color: #e96d51;
}


#Obras.list .mix{
	display: none;
	opacity: 0;
	padding: 18px 0 14px;
	border-bottom: 1px solid #d7d7d7;
	text-align: right;
	height: 99px;
	width: 100%;
	line-height: 99px;
	background: #f9f6f0;
	vertical-align: top;
	font-weight: 300;
}

#Obras.list .mix .meta *{
	line-height: 1;
}

#Obras.list .mix .meta p,
#Obras.list .mix .meta ul{
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}

#Obras.list .mix .meta li{
	margin-bottom: 5px;
}

#Obras.list .img_wrapper{
	display: inline-block;
	width: 177px;
	height: 95px;
	vertical-align: top;
	margin-right: 30px;
}

#Obras.list .titles{
	display: inline-block;
	vertical-align: middle;
}

#Obras.list .titles h2{
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
	color: #47a497;
	letter-spacing: 2px;
	margin-bottom: 3px;
	line-height: 1.2 !important;
}

#Obras.list .titles p{
	text-indent: -2px;
}

/* GRID VIEW STYLES */

#Obras.grid{
	text-align: justify;
}

#Obras.grid .list_header,
#Obras.grid .meta{
	display: none;
}

#Obras.grid .meta.name{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: block;
}

#Obras.grid .mix{
	display: none;
	opacity: 0;
	position: relative;
	width: 48.5%;
	padding-top: 26%;
	margin-bottom: 3%;
}

#Obras.grid .img_wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
}

#Obras.grid .titles{
	position: relative;
	width: 90%;
	max-width: 400px;
	height: auto;
	margin-top: 75%;
	margin: 53.5% auto 0;
	top: -80px;
	z-index: 1;
	padding: 10px 0;
	background: #fff;
	background: rgba(255,255,255,.8);
	text-align: center;
}

#Obras.grid .titles h2{
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
	color: #47a497;
	letter-spacing: 2px;
	margin-bottom: 3px;
}

#Obras.grid .titles p{
	font-weight: 300;
	text-indent: -2px;
}

@media (max-width: 500px){
	#Obras.grid .mix{
		width: 100%;
		padding-top: 53%;
	}
	
	.drop_down{
		display: none;
	}
}

@media (max-width: 1000px){
	#Obras.list .meta{
		width: 150px;
	}
	
	#Obras.list .titles{
		width: 150px;
	}
}

@media (max-width: 840px){
	#Obras.list .meta.region,
	#Obras.list .meta.rec{
		display: none;
	}
}

@media (max-width: 540px){
	#Obras.list .meta.area{
		display: none;
	}
}

/* ------ GLOBAL FOOTER ------ */

footer{
	position: relative;
	margin-top: -130px;
	min-height: 90px;
	background: #f0ebe5;
	padding: 20px;
	font-family: "Open Sans";
	color: #111;
}

footer .left{
	margin-top: 0px;
}

footer .right{
	width: 320px;
	border-left: 1px solid #ddd;
	text-align: right;
}

footer p{
	margin-bottom: 20px;
	
	font-size: 15px;
	font-weight: 300;
}

footer p.small{
	font-size: 13px;
	margin-bottom: 0;
}

footer p strong{
	font-weight: 700;
}

footer p a{
	display: inline-block;
	color: #47a497;
	line-height: 23px;
}

footer p a:hover{
	background: url(im/dots.svg) repeat-x left bottom;
}

@media screen and (max-width: 500px){	
	footer{
		margin-top: -180px;
	}
	
	footer .left{
		display: block;
		margin-top: 0;
		overflow: hidden;
	}
	footer .right{
		width: 100%;
		text-align: left;
		margin-top: 10px;
		border-left: 0 none;
		overflow: hidden;
	}
}